# compiled output
/dist/
/tmp/

# dependencies
/bower_components/

# misc
/tests/
/types/
/.*
/config/ember-try.js
/ember-cli-build.js
/renovate.json
/testem.js
/tsconfig.json
/tslint.json
/yarn.lock
/yarn-error.log
.gitkeep
*.tgz

# ember-try
/.node_modules.ember-try/
/package.json.ember-try
