<div class="container">
  <div class="row">
    <div class="col m8 s12">
      <h2 id="title">Ember api actions</h2>
    </div>
    <div class="col m4 s12">
      <a href="https://github.com/truenorth/ember-api-actions" class="btn btn-flat black white-text m-t-40" target="_blank">Go to Github</a>
    </div>
  </div>

  {{outlet}}
</div>